<p-growl [value]="msgs"></p-growl>

<form [formGroup]="taskGroupForm" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <label for="description">description</label>
        <input type="text"
               class="form-control"
               id="description"
               formControlName="description">
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary" [disabled]="taskGroupForm.invalid">Save</button>
    </div>
  </div>
</form>



