
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Async Engine</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['task']">Task</a></li>
        <li><a [routerLink]="['taskgroup']">Task Group</a></li>
        <li><a [routerLink]="['scheduled']">Scheduled Tasks</a></li>
        <li><a [routerLink]="['taskresult']">Task Result</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
