<p-growl [value]="msgs"></p-growl>

<div class="col-md-6">
  <label >Select a task</label>
  <p-dropdown [options]="tasks" [(ngModel)]="selectedTask" [filter]="true"></p-dropdown>
</div>
<div class="col-md-6">
  <label >Select a task group</label>
  <p-dropdown [options]="taskGroups" [(ngModel)]="selectedTaskGroup" [filter]="true"></p-dropdown>
</div>
<form [formGroup]="scheduledGroupForm" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <label for="description">description</label>
        <input type="text"
               class="form-control"
               id="description"
               formControlName="description">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="cron">cron</label>
        <input type="text"
               class="form-control"
               id="cron"
               formControlName="cron">
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary" [disabled]="scheduledGroupForm.invalid">Save</button>
    </div>
  </div>
</form>



